body{
    background-image: url(/asset/ABSTRACT_BACKGROUND_01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: block;
}
html{
    margin: 2% 10%;
}
/*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-grow-skew {
    background: 0; /* color de fondo */
    color: #fff; /* color de fuente */
    border: 1px solid tomato; /* tamaño y color de borde */
    padding: 10px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: red; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

 /* NAVBAR*/

 .navbar{
     text-align: center;
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 5px;
 }
 .foto-navbar{
     border-radius: 50%;
     height: 50px;
     border: 2px solid red;
 }
 .nav-link{
     color: #fff;
     justify-content: center;
 }
 .navbar-brand{
     color: #fff;
 }
 .nav-item{

    padding: 5px;
 }
#navbarSupportedContent{
    justify-content: end;
}

/* FIN NAVBAR */

/* CONTACTO */

.contacto{
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.titulos{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px;
    display: flex;
}
.titulos img{
    height: 40px;
    width: 40px;
}
.titulos h2{
    padding-left: 10px;
    color: #fff;
}
.box3{
    text-align: center;
}

.formulario-contacto{
    text-align: start;
    display: block;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
.form-group{
    padding: 5px;
    color: #fff;
}
.formulario{
    margin-bottom: 20px;
    border: 1px solid red;
    padding: 15px;
    border-radius: 5px;
    display: block;
}

/* FIN CONTACTO */

/* FOOTER */

.footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    padding: 60px;
    border-radius: 5px;
    display:block;
    
}
.container-footer{
    padding: 15px;
    border: 1px solid red;
    border-radius: 5px;
}
.icon-contacto{
    width: 50px;
    height: 50px;
    padding: 1%;
    background-color: tomato;
    border-radius: 10px;
}

.informacion{
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.informacion img{
    height: 20px;
}

/* FIN FOOTER */

@media only screen and (max-width: 850px){
    
    .formulario-contacto{
        padding-left: 0%;
        padding-right: 0%;
    }

}